* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: none;
    user-select: none;
}

:root {
    --primary-color: #101212e6;
    --secondary-color: #e5f4e3;
    --neutral-color: #ecf0f1;
}

@keyframes fade {
    0%, 2% {
      z-index: -100;
    }
    2.01%, 100% {
      z-index: 100;
    }
}

body {
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
    background-color: black;
    box-sizing: border-box;
}



.header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    opacity: 0.9;
    background-image:  linear-gradient(rgba(255, 255, 255, 0.19) 1px, transparent 1px), linear-gradient(to right, rgba(255, 255, 255, .19) 1px, black 1px);
    background-size: 40px 40px;
    color: #FF6000;
    padding: 20px 10%; 
    max-width: 1500px; 
}

.header h1 {
    margin: 0;
    padding-bottom: 50px;
}

.circle {
    padding: 0;
    width: 330px; 
    height: 330px; 
    border-radius: 50%;
    overflow: hidden; 
    margin: auto; 
    position: relative;
    background: linear-gradient(180deg,#00dbde 0%, #fc00ff 100%);
    clip-path: circle(420px at center);
}

.circle img {

    width: 100%; 
    height: auto; 
    position: absolute;
    top: 0; 
    left: 0; 
}


.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0 30px;
    display: flex;
    justify-content: center;

}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #575757;
    transform: scale(1.1);
    transition: .5s ease;
}

section {
    padding: 2% 8%;
    margin: 5px;
    background: rgba(0, 0, 0, 0.897);
    height: 100vh; 
    scroll-snap-align: start;
    top: 0;
    left: 0;
}



.container {
    width: 100vw;
    height: 100vh; 
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


.container::-webkit-scrollbar {
    display: none;
}

h2 {
    color: #FF6000;
    display: flex;
    justify-content: center;
}

h3{
    color: #ff7f11;

}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project div {
    flex: 1 1 10%;
    margin: 10px;
    background: rgba(153, 153, 153, 0.2);
    color: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
}



.tracker {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    border: solid white;
    z-index: 9999;
    pointer-events: none;
}

.tracker:after {
    position: absolute;
    top: -20px;
    left: 0;
    content: "";
    border: 30px solid blueviolet;
    border-radius: 50%;
    opacity: .4;
}

.tracker.hovered:after {
    border: 30px solid #FF6000;
    opacity: .4;
}

p {
    display: contents;
    color: #C9D6DF;
}




@media (max-width: 500px) {
    .circle{
         width: 80vw;
         height: 80vw;
    }
    .tracker{
        display: none;
        border: none;
    }
    .tracker::after{
        display: none;
    }

    *{
        cursor:auto;
    }

    section{
        height: 100vh;
    }

    .header h1{
        padding-bottom: 100px;
    }     

    .form{
        width: 80vw;
        height: 58vh;
    }
    .container .download{
        width: 60vw;
        height: 25vh;
    }

} 

.button{
    display: flex;
    justify-content: end;
}


button{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    background-color: #ccc;
    padding-top: 5px;
    border: none;
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
    opacity: .5;
}

button:hover{
    transform: scale(1.1) translateY(-2px);
    opacity: 1;
    color: #ff7f11;
}

.skills{
    display: flex;
    justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.skills div{
        padding: 10px 30px;
        margin: .5rem .5rem;
        font-size: 1rem;
        background: rgba(153, 153, 153, 0.2);
        border-radius: 5px;
        font-weight: 600;
        color: #ccc;
}

.skills div:hover{
    color: #ff7f11;

}

/* Form styles */
form {
    display: none;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80vh;
    height: 80vh;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(13px) saturate(200%);
    -webkit-backdrop-filter: blur(13px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 20px; 
    box-shadow: 5px 5px 5px black;
}

@media (max-width: 390px) {
 .form{
    width: 80%;
 }


     
} 



form input, textarea {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: none;
    border-radius: 5px; 

}

textarea{
    height: 240px;
    resize: none;
    background-color: #Cccc ;
    color: black;
}

span{
    color: red;
}

p span{
    color: #ff7f11;
}

form div{
    display: flex;
    justify-content: space-between;
}
form button {
    background-color: #FF6000; 
    width: 80px;
    color: white; 
    border: none; 
    padding: 2px 5px;
    border-radius: 5px; 
    cursor: pointer; 
    cursor: none;
}

textarea:focus, input:focus{
    outline: none;
}

form button:hover {
    background-color: #FF6000; 
}

.download{
    display: none;
    width: 50vw;
    height: 30vh;
    position: absolute;
    z-index: 999;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(13px) saturate(200%);
    -webkit-backdrop-filter: blur(13px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 20px; 
    box-shadow: 5px 5px 5px black;
}

.download button{
    background-color: #FF6000; 
    width: 80px;
    color: white; 
    border: none; 
    padding: 2px 5px;
    border-radius: 5px; 
    cursor: pointer; 
    cursor: none;
}

.download div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

