name: Deploy Portfolio to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build Docker container
        run: |
          docker build -t portfolio-nginx .
          docker run --name portfolio -d portfolio-nginx
          docker cp portfolio:/usr/share/nginx/html ./site
          docker stop portfolio
          docker rm portfolio

      - name: Sync files to S3
        run: aws s3 sync ./site s3://mohd-portfolio-site-2026--delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ap-south-1
